* {
    font-family: "Titillium+Web:wght@300", sans-serif;
}

body {
    background-color: beige;
    min-height: 100vh;

}

#stayB {
    background-color: darkcyan;
    text-align: center;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
}

#search-history {
    display: flex;
    flex-direction: column;
}


#search-history button {
    display: block;
}

p {
    color: black;
}

.credits {
    color: white;
    text-shadow: -0.1px -0.1px 0 black, 0.1px -0.1px 0 black, -0.1px 0.1px 0 black, 0.1px 0.1px 0 black;
    font-size: 16px;
    padding: 8px;

}

ul {
    color: black;
    margin-bottom: 30px;
}

header {
    position: sticky;
    top: 0;
    margin-top: -25px;
    background-color: darkcyan;
    z-index: 1;
    text-align: center;
}

h1 {
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}

h2 {
    font-size: large;
    margin-top: 30px;
    border-bottom: 4px solid rgba(121, 128, 113, .5);
    border-top: 4px solid rgba(121, 128, 113, 1);
}